{% extends "tracker/base.html" %}
{% block content %}
    {% for event in events %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ event.key }}</a>
                <small class="text-muted">{{ event.created_at|date:"F d, Y"}}</small>
                </div>

                <h2><a class="article-title" href="#">{{ event.value }}</a> </h2>
                <p class="article-content">{{ event.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}